:root {



  --shadows-shadow-xs: 0px 1px 2px 0px #0a0d12ff;
  --shadows-shadow-sm: 0px 1px 2px -1px #0a0d12ff, 0px 1px 3px 0px #0a0d12ff;
  --shadows-shadow-md: 0px 2px 4px -2px #0a0d12ff, 0px 4px 6px -1px #0a0d12ff;
  --shadows-shadow-lg: 0px 2px 2px -1px #0a0d12ff, 0px 4px 6px -2px #0a0d12ff, 0px 12px 16px -4px #0a0d12ff;
  --shadows-shadow-xl: 0px 3px 3px -1.5px #0a0d12ff, 0px 8px 8px -4px #0a0d12ff, 0px 20px 24px -4px #0a0d12ff;
  --shadows-shadow-2xl: 0px 4px 4px -2px #0a0d12ff, 0px 24px 48px -12px #0a0d12ff;
  --shadows-shadow-3xl: 0px 5px 5px -2.5px #0a0d12ff, 0px 32px 64px -12px #0a0d12ff;
  --i-os-key-box-shadow-dark: 0px 1px 0px 0px #000000ff;
  --i-os-key-box-shadow-light: 0px 1px 0px 0px #898a8dff;
  --shadows-shadow-xs: 0px 1px 2px 0px #0a0d12ff;
  --sh: inset 0px 16px 0px 0px #831f8cff;

}